<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="usuario.password"></ion-input>
  </ion-item>

  <ion-item-divider></ion-item-divider>

  <ion-button size="large" (click)="login()">Login</ion-button>
  <ion-button size="large" routerLink="/registrarse">Registrarse</ion-button>

</ion-content>